<!DOCTYPE html>
<html>
<head>
  <title>My Sinatra App</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <section>
    <header>
      <h2>$ 1.234.323,94 </h2>
    </header>
    <div>
        <button id="transfer_btn"> Transferir </button>
        <button> Mis Datos </button>
        <button> Movimientos </button>
        <button> Pagar Servicios </button>
        <button> QR </button>
        <button> Ahorros </button>
    </div>
  </section>

  <footer>
    ByTheMostCapos
  </footer>

  <script src="/js/script.js"></script>
</body>
</html>
