<!DOCTYPE html>
<html>
<head>
  <title>My Sinatra App</title>
  <link rel="stylesheet" href="/css/theme/dark.css">
  <link rel="stylesheet" href="/css/transfer.css">
</head>
<body>

  <section id="frame">
    <header>
      <h2>Transferir</h2>
    </header>
    <div id="principalFrame">
        <button id="cancel"> Cancelar </button>
        <button id="confirm"> Confirmar </button>
    </div>
  </section>

  <footer>
    ByTheMostCapos
  </footer>

  <script src="/js/transfer.js"></script>
</body>
</html>
